<h1>Users</h1>

<% @users.each do |user| %>
  <p>Username: <%= link_to user.username, user_path(user) %></p>
    <p>Email: <%= user.email %></p>
    <p>Created at: <%= user.created_at %></p>
    <p>Updated at: <%= user.updated_at %></p>
    <%= link_to "Edit User", edit_user_path(user) %>
    <hr/>
<% end %>


<p><%= link_to "New User", new_user_path %></p>
