<h1>New User</h1>

<%# Purely HTML form %>
<!--
<form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="user[username]" placeholder="Username">
    <input type="text" name="user[email]" placeholder="example@example.com">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="Create User">
</form>
-->

<%# Railsy form with #form_tag %>

<!--
<%= form_tag users_path do %>
  <%= text_field_tag :username, nil, placeholder: "Username" %>
  <%= text_field_tag :email, nil, placeholder: "example@example.com" %>
  <%= password_field_tag :password, nil, placeholder: "Password" %>
  <%= submit_tag "Create User" %>
<% end %>
-->

<%# Railsy form with #form_with %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<%= form_with model: @user do |form| %>
  <%= render 'shared/form', form: form %>
<% end %>

